.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p__markazi {
    font-family: var(--font-alt);
    color: var(--color-black);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 22px;
  }

.p__markazi-v2 {
  color: var(--color-white);
  margin-right: 200px;
  font-size: 20px;
  font-family: var(--font-base);
  font-weight: 100;
  line-height: 1.3em;
}  

.p__markazi-v3 {
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: -100px;
  font-size: 60px;
}

.p__markazi-v4 {
  font-weight: 600;
  font-size: 21px;
}

.p__karla {
  font-family: var(--font-base);

}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  min-height: 10vh;
}

body{
  background-color: #f5f5f5;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -10px;
  margin-left: 180px;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: -20rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 40%;
  border-radius: 16px;
}

.custom__button {
  background-color: var(--color-yellow);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border-radius: 16px;
    margin-top: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}